<section class="postcode">
	<!-- Postcode form -->
	<form class="postcode-form" action="">
		<fieldset>
			<legend>Postcode finder</legend>
			<div>
			  <label for="postcode">Postcode:</label>
			  <input (focus)="onFocus()" class="postcode-input" [ngClass]="{'postcode-error': error}" [(ngModel)]="postCode" name="postcode" type="text" placeholder="Enter a UK postcode" required autofocus>
			  <p [ngClass]="{'postcode-error-text': error}">It couldn't find any matches for: {{postCode}}</p>
			</div>
			<div>
				<button (click)="onGetAddress()">Find address</button>
			</div>
		</fieldset>
	</form>

	<!-- Dropdown list with all the addresses related to the postcode given -->
	<p *ngIf="showAddresses">Addresses in the postcode: <span>{{ postCode }}</span></p>
	<select *ngIf="showAddresses" [(ngModel)]="addressSelected">
	  <option  value="">View list of addresses</option>
	  <option *ngFor="let address of addresses">{{ address }}</option>
	</select>
</section>


<section class="map">
	<agm-map [zoom]="10" [latitude]="lat" [longitude]="lng">
	  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
	</agm-map>
</section>